
body {
    height: 100vh;
    background-color: #EEE9DA;
}
h1{
    width: 100%;
    color: #205295;
    font-weight: bold;
    margin-left: 20px;
}
h3 {
    width: 100%;
    color: #205295;
    margin-left: 20px;
}

table {
    border: solid 5px #93BFCF;
    color: #6096B4;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 88%;
    margin: 0 auto;
}
th {
    background-color: #93BFCF;
}

/*.grid text-center{*/
/*    display: grid;*/
/*    grid-column-start: 2;*/
/*    grid-column-end: five;*/
/*    grid-row-start: row1-start;*/
/*    grid-row-end: 3;*/
/*    gap: 10px;*/
/*}*/

.ML_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.genre_container {
    width: 800px;
    display: grid;
    text-align: center;
    vertical-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    gap: 10px;
}
.title_container {

    width: 800px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr;*/
    gap: 10px;
}
.cart_container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

/*.cart_body{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    !*background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);*!*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.genreGrid{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 110px;
    /*border: 3px solid #6096B4;*/
    background-color: #BDCDD6;
}
.titleGrid{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 50px;
    background-color: #BDCDD6;
}

.loginGrid{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*from https://uxplanet.org/how-to-create-a-shopping-cart-ui-using-html-css-e5db3cd55aa0 */
.Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Heading{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
}
.Action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}
